<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MuchMoney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189251F61E05061B00FE35AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1892520F1E05061B00FE35AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1892521A1E05061B00FE35AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
